/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.rootgridpane{
	-fx-padding: 10px;
}

.button{
	-fx-pref-width: 100px;
	-fx-min-width: 100px;
}

.headerlabel{
	-fx-font-weight: bold;
}

.statustext_default, .statustext_success, .statustext_failure, .statustext_warning, .statustext_info {
	-fx-font-weight: bold;
}

.statustext_success{
	-fx-fill: seagreen;
}

.statustext_failure{
	-fx-fill: orangered;
}

.statustext_warning{
	-fx-fill: orange;
}

.statustext_info{
	-fx-fill: royalblue;
}
